.header {
	margin-top: 100px;
}

.blogHeader {
	display: block;
	height: 30%;
	width: 90%;
	margin: auto;
}

.blogTitle {
	display: block;
	margin-left: auto;
	height: 50%;
	width: 50%;
	margin-right: auto;
}

.blogImage {
	width: 50%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
}

img {
	width: 100%;
	display: block;
	border: 1px black solid;
}

.main {
	display: block;
	margin-top: 40px;
	background-image: none;
}

.main p {
	font-size: 1.1em;
	margin-bottom: 20px;
	text-align: justify;
}

.commentsDiv {
	margin-top: 50px;
	padding: 20px;
}

.commentsCenter {
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.cardview {
	background-color: rgb(238, 212, 212);
	border-radius: 10px;
	z-index: 1;
	padding: 20px;
	margin-top: 10px;
}

.addComment {
	display: flex;
}

.commentImg {
	text-align: center;
	align-items: center;
}

.commentImg img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.commentContent {
	text-align: center;
	flex-grow: 2;
	align-items: center;
}

.commentContent input {
	width: 80%;
	height: 90%;
	margin-left: 20px;
	padding: 10px;
	margin: 2px;
}

#submit {
	width: 15%;
	height: 100%;
	padding: 10px;
	margin: 2px;
}

.commentContent form {
	display: flex;
}

.comment {
	display: flex;
	margin-top: 20px;
}

.commentContent p {
	width: 90%;
	text-align: justify;
	margin-left: 20px;
}

.commentRight {
	display: flex;
	flex-direction: column;
	align-content: center;
	height: 100%;
}

.actionbuttons {
	display: flex;
	flex-grow: 1;
	align-items: center;
}

.actionbuttons button {
	margin-left: 2px;
}

.signup {
	display: block;
	text-align: center;
}

.signup button {
	padding: 10px;
	font-size: 1.1em;
	margin-top: 10px;
}

#timestamp {
	margin-top: 5px;
	text-align: center;
	border: 1px solid black;
}

#rating {
	margin-bottom: 5px;
	text-align: center;
}