.post-img {
  height: 404px;
  overflow: hidden;
  margin-top: 14px;
}

.post-img img {
  width: 100%;
}
.post-content {
  /* background-color: rebeccapurple; */
}

.post-content h1 {
  text-align: center;
}

.post-meta{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

.author-info div{
    padding: 4px 12px;
    font-family: var(--font2);
}
.social{
    padding-right: 10px;
    cursor: pointer;
}