* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	width: 30%;
	height: 70%;
	padding: 5px;
}

.category-content {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	margin-bottom: 12px;
	padding: 9px;
	background-color: rgba(208, 240, 192, 0.1);
}

.category-element {
	margin: 2px;
	display: flex;
	justify-content: space-between;
	background-color: #f0f4ef;
	color: black;
	padding: 1rem;
}

.text {
	font-size: 1.5em;
	padding: 0.5rem;
}

.category-element:hover>span {
	color: var(- -main-bg-color);
	font-weight: bolder;
}

.footer {
	background-color: #d8e4bc /*#B4CDED*/;
}

.label {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

@media screen and (max-width: 1024px) {
	.category-content {
		grid-template-columns: repeat(1, 1fr);
	}
	.category-element {
		justify-content: space-around;
	}
}