* {
  margin: 0;
  padding: 0;
}

a{
	text-decoration: none;
	color: inherit;
}

.navigation {
  font-family: var(--font1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #B4CDED;
  padding: 0 1rem;
}

img{
	width: 8rem;
	height: 8rem;
	padding: 5px ;
}

.category-content {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem;
  margin-bottom: 12px;
  padding: 9px;
  background-color: rgba(230,212,230,0.1);
}

.category-element{
	margin:2px ;
	border: 2px solid black;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;	
	background-color: #F0F4EF;
	color: black;
	padding:1rem; 
}

.text{
	font-size: 1.5em;
	padding:0.5rem;
}

.category-element:hover > span{
  color: var(--main-bg-color);
  font-weight: bolder;
}

.footer{
  background-color: #B4CDED;
}


@media screen and (max-width: 1024px) {
  .navigation {
  	display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 23px;
    padding:0;
  }
  
  .navigation ul{
  	width: 600px;
  	display: flex;
  	flex-direction: column;
  	align-items:center; 
  	padding-bottom: 1rem;
  }
  .navigation ul li{
  	width: 100%;
  	text-align: center;
  	padding-bottom: 0.5rem;
  }
  
  .navigation ul li:hover> a{
 	color: var(--main-bg-color);
  	font-weight: bolder;
  }

  .category-content{
  	 grid-template-columns: repeat(1,1fr);
  }
  .category-element{
  	 justify-content: space-around;
  }

}
