.post-img {
	height: 404px;
	overflow: hidden;
	margin-top: 14px;
}

.post-img img {
	width: 100%;
}

.post-content h1 {
	text-align: center;
}

.post-meta {
	/* background-color: red; */
	display: flex;
	justify-content: space-between;
}

.author-info div {
	padding: 4px 12px;
	font-family: var(- -font2);
}

.social {
	padding-right: 10px;
	cursor: pointer;
}

.comment {
	background-color: rgb(180, 179, 179);
	border-radius: 5px;
	padding: 10px;
}

.comment-button {
	background-color: rgb(6, 159, 206);
	margin: 0px;
	border-radius: 6px;
	font-size: 14px;
	padding: 8px;
	width: 50%;
	border: none;
}

.comment-content {
	padding: 8px;
}

.comment-content hr {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-right: auto;
	border-width: 0;
	height: 1px;
	background-color: black;
	width: 60%;
	text-align: left;
}

.comment-button:hover {
	/* display: none; */
	
}

.comment-box input {
	width: 80%;
	padding: 10px 6px;
	margin: 7px 0;
	border-style: none;
	border-radius: 5px;
}

.comment-box button {
	display: inline;
	margin-left: 10px;
}

.vote button {
	background-color: rgb(117, 184, 204);
	margin: 0px;
	border-radius: 6px;
	font-size: 12px;
	font-weight: bold;
	padding: 8px;
	width: fit-content;
	border: 1px solid black;
}

.count {
	background-color: aliceblue;
	padding: 0px 5px;
	height: 5px;
	border-radius: 4px;
	border: 1px solid black;
}

.add-answer-button {
	display: flex;
	justify-content: center;
	/* width: 200px; */
}

.add-ans {
	width: 120px;
}

.answer-buttons {
	display: flex;
	justify-content: space-between;
}

.vote {
	display: flex;
	justify-content: space-between;
}