<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Page</title>
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <style>
        body {
            font-family: Helvetica, serif;
        }

        menu {
            background: darkgrey;
            padding: 0.25rem;
            overflow-y: scroll;
            white-space: nowrap;
        }

        span {
            background: gray;
            color: #ffffff;
            display: inline-block;
            margin: 0.25rem;
            padding: 0.5rem;
        }
    </style>

</head>

<body>
<h1>User profile Page</h1>

<menu>
    <span>
        Name:
        <span th:text="${User.name}">placeholder name</span>
    </span>
    <span>
        Height:
        <span th:text="${User.height}">placeholder height</span>
    </span>
    <span>
        Weight:
        <span th:text="${User.weight}">placeholder weight</span>
    </span>
    <span>
        DOB:
        <span th:text="${User.dob}">placeholder date</span>
    </span>
    <span>
        Stars:
        <span th:text="${User.stars}">placeholder stars</span>
    </span>
    <span>
        Gender:
        <span th:text="${User.gender}">placeholder gender</span>
    </span>
    <span>
        Contact Number:
        <span th:text="${User.contactNo}">placeholder contact number</span>
    </span>
    <span>
        Facebook:
        <span th:text="${User.facebook}">placeholder facebook</span>
    </span>
    <span>
        Instagram:
        <span th:text="${User.instagram}">placeholder instagram</span>
    </span>
    <span>
        Twitter:
        <span th:text="${User.twitter}">placeholder twitter</span>
    </span>
    <span>
        Email:
        <span th:text="${User.gender}">placeholder email</span>
    </span>
</menu>

</body>
</html>